@{
    ViewBag.Title = "Home";
    WeatherAPIApp.ViewModels.CurrentWeatherVM cwVM = ViewBag.CurrentWeather;
    WeatherAPIApp.ViewModels.FiveDaysWeatherForecastVM fwVM = ViewBag.FiveDaysWeatherForecast;
}

<div class="jumbotron">
    <h1 class="text-center">
        Weather Forecast
        <img src="..\..\Content\WeatherIcon.png" class="img-fluid" style="max-height:100px" alt="WeatherIcon - sun with cloud in front of it" />
    </h1>
    <p class="lead">A weather forecast application for the CTK interview case.</p>

</div>

<div>
    <p class="text-center" style="font-size: small">@ViewBag.LocationText</p>
</div>

<div class="row center-block">
    <div class="col-md-6">
        <h2>Current weather</h2>
        <p>This section calls to the OpenWeatherAPI for the current weather data given latitude and longitude.</p>

        @Html.Partial("Partials/_CurrentWeatherPV", cwVM)


    </div>
    <div class="col-md-6">
        <h2>5-day forecast</h2>
        <p>This section will retrive a 5-day weather forecast from the OpenWeatherAPI also given latitude and longitude. </p>
        <div style="overflow-y: scroll; height:420px;">
            @Html.Partial("Partials/_FiveDaysWeatherForecastPV", fwVM)

        </div>
    </div>
